
# Python (Backend)

__pycache__/
*.py[cod]
.pytest_cache/
backend/__pycache__/
backend/.env
backend/venv/


# Node / Frontend
frontend/node_modules/
frontend/dist/
frontend/.env


node_modules/
dist/


# Environment files
.env
.env.local


# IDE / OS files
.vscode/
.idea/
.DS_Store


# Logs
*.log
logs/
